$border-radius: 0.9rem;

// colors
$bg-color: #0E1323;
$primary-font-color: #fff;
$secondary-font-color: #BBC0FF;
$tertiary-font-color: #7078C9;
$profile-color: #5747EA;
$card-bg: #1C204B;
$work-bg: #FF8B64;
$play-bg: #55C2E6;
$study-bg: #FF5E7D;
$exercise-bg: #4BCF82;
$social-bg: #7335D2;
$self-care-bg: #F1C75B;
$card-hover-color: #33397A;