.field {
  background-color: $alt-color;
  padding: 1rem;

  &:first-of-type {
    margin-bottom: 1rem;
    @include flex-center-spacebw;
  }

  @media screen and (min-width: 38rem) {
    padding: 1.1rem 2rem 1.2rem;

    &:first-of-type {
      margin-bottom: 1.45rem;
    }
  }
}

form {
  max-width: 33.75rem;
}

.copy-sec {
  @include flex-center-align;
  gap: 0.7rem;
}

#copy-msg {
  display: none;
}

.strength-section {
  background-color: $bg-color;
  padding: 0.88rem 1.2rem;
  text-transform: uppercase;
  @include flex-center-spacebw;
  gap: 1rem;
  flex-wrap: wrap;

  @media screen and (min-width: 38rem) {
    padding: 1.38rem 2rem;
    margin-top: 2rem;
  }
}

#strength {
  color: $main-font-color;
  display: none;
}

.strength-indicator {
  @include flex-center-align;
  gap: 1rem;
}

.bars {
  @include flex-center-align;
  gap: 0.5rem;

  .bar {
    width: 0.7rem;
    height: 1.75rem;
    border: 2px solid $main-font-color;

    &.too-weak {
      background-color: $highlight-2;
      border: none;
    }

    &.weak {
      background-color: $highlight-3;
      border: none;
    }

    &.medium {
      background-color: $highlight-4;
      border: none;
    }

    &.strong {
      background-color: $main-highlight;
      border: none;
    }
  }
}