@import "../abstract/variables";

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("/assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype"),
    url("/assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

body, button {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 40px;

  span {
    font-weight: 500;
  }
}

#subheading {
  color: $dark-theme-font-alt;
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  margin-top: 1rem;
}

.category {
  font-size: 18px;
  font-weight: 500;
}