@import "../abstract/variables";

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("/assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype"),
    url("/assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

// mixins
@mixin heading-large-bold {
  font-size: 4rem;
  font-weight: 500;
}

@mixin heading-large-regular {
  font-size: 4rem;
}

@mixin heading-medium {
  font-size: 2.25rem;
  font-weight: 500;
}

@mixin heading-small {
  font-size: 1.75rem;
  font-weight: 500;
}

@mixin body-medium {
  font-size: 1.5rem;
  line-height: 150%;
}

@mixin body-small {
  font-size: 1.25rem;
  line-height: 150%;
  font-style: italic;
}

// styles
body, button {
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 1rem;
  
  @media screen and (max-height: 41.5rem) and (orientation: landscape) {
    font-size: 0.7rem;
  }
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;

  span {
    font-weight: 500;
    display: block;
  }

  @media screen and (min-width: 48rem) {
    @include heading-large-regular;

    span {
      @include heading-large-bold;
    }
  }
}

p {
  color: $common-light-alt;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 150%;
  margin-top: 1rem;

  @media screen and (min-width: 48rem) {
    @include body-small;
  }

  @media screen and (min-width: 64rem) {
    margin-top: 3rem;
  }
}

.category {
  font-size: 1.125rem;
  font-weight: 500;

  @media screen and (min-width: 48rem) {
    @include heading-small;
  }
}

#question {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: $common-light;
  font-style: normal;
  margin: 0.75rem 0 1.5rem;

  @media screen and (min-width: 48rem) {
    @include heading-medium;
    margin-top: 1.68rem;
  }
}

button {
  font-size: 1.125rem;
  font-weight: 500;

  @media screen and (min-width: 48rem) {
    @include heading-small;
  }
}

#err-msg {
  font-size: 1.125rem;

  @media screen and (min-width: 48rem) {
    @include body-medium;
  }
}

.result-card p {
  font-size: 1.125rem;

  @media screen and (min-width: 48rem) {
    @include body-medium;
  }
}

#score {
  font-size: 5.5rem;
  line-height: 100%;
  font-weight: 500;
  color: $common-light;

  @media screen and (min-width: 48rem) {
    font-size: 9rem;
  }
}

body:has(#toggle:checked) {
  #question {
    color: $common-dark;
  }

  #score {
    color: $common-dark;
  }
}