// dark theme
$dark-theme-bg: #313E51;
$dark-theme-font: #fff;
$dark-theme-font-alt : #ABC1E1;
$dark-theme-category: #3B4D66;
$toggle-color: #A729F5;
$html-color: #FFF1E9;
$css-color: #E0FDEF;
$js-color: #EBF0FF;
$acc-color: #F6E7FF;