header {
  width: 100%;
  @include flex-center;
  justify-content: flex-end;

  .category {
    @include hide-category-style;
    text-transform: capitalize;
  }
}

body:has(#toggle:checked) header .category {
  @include hide-category-style;
}
