header {
  width: 100%;
  @include flex-center;
  justify-content: space-between;

  .category {
    @include hide-category-style;
  }
}

body:has(#toggle:checked) header .category {
  @include hide-category-style;
}
