header {
    width: 100%;
    @include flex-center;
    justify-content: space-between;

    .category {
        background-color: transparent;
        padding: 0;
        height: unset;
        margin-bottom: unset;
    }
}