// colors
$body-bg: #C5E4E7;
$heading-color: #3D6666;
$form-bg: white;
$label-color: #5E7A7D;
$input-field-color: #F3F9FA;
$icon-color: #9EBBBD;
$higlight-1: #00474B;
$highlight-2: #26C2AE;
$light-color: #7F9D9F;
$placeholder-color: #547878;
$error-color: #E17457;
$hover-color: #9FE8DF;

// font
$primary-font: "Space Mono", monospace;