$font-bold: "Robot-Bold";
$font-regular: "Robot-Regular";

$primary-color: #242742;
$card-bg: white;
$input-field-color: rgba(25, 24, 43, 0.25);
$error: #FF6155;
$error-light: rgba(255, 97, 85, 0.15);