@import "./base/reset";
@import "./base/typography";
@import "./abstract/variables";
@import "./abstract/mixins";
@import "./components/input";
@import "./components/button";

body {
  background-color: $body-bg;
  @include flex-center-col;
  gap: 1rem;
  padding: 1rem 0;

  @media screen and (min-width: 64rem) {
    height: 100vh;
    gap: 0;
    padding: 0;
  }
}

main {
  @include flex-center-col;
  gap: 1rem;

  @media screen and (min-width: 90rem) {
    gap: 3.5rem;
    margin-top: -2.5rem;
  }
}

form {
  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2rem;
  width: 100vw;

  @media screen and (min-width: 48rem) {
    width: 90vw;
    max-width: 57.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 2rem 2.5rem 0 rgba(79, 165, 175, 0.2);
  }
}

// result section
.result-sec {
  background-color: $higlight-1;
  margin-top: 2rem;
  border-radius: 0.9rem;
  padding: 2rem 1rem 1rem;

  @media screen and (min-width: 48rem) {
    margin-top: 0;
    @include flex-col-opp;
    padding: 2.7rem 2rem 2.3rem;
    min-height: 26rem;
  }
}

.result {
  @include flex-center;
  margin-bottom: 1.3rem;

  span {
    display: block;
  }

  @media screen and (min-width: 48rem) {
    margin-bottom: 2rem;
  }
}

.icon-input {
  position: relative;
}

svg {
  width: 0.8rem;
  fill: $icon-color;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
}

.input-sec-2 svg {
  width: 1rem;
}

// media queries
@media screen and (min-width: 120rem) {
  html {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 90rem) {
  footer {
    position: absolute;
    bottom: 1.5rem;
  }
}

@media screen and (max-width: 22.5rem) {
  html {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 15.5rem) {
  html {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 11rem) {
  html {
    font-size: 0.3rem;
  }
}

@media screen and (max-width: 7rem) {
  html {
    font-size: 0.1rem;
  }
}
