* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("/assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype"), url("/assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}
body, button {
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 1rem;
}
@media screen and (max-height: 41.5rem) and (orientation: landscape) {
  html {
    font-size: 0.6rem;
  }
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;
}
h1 span {
  font-weight: 500;
  display: block;
}
@media screen and (min-width: 48rem) {
  h1 {
    font-size: 4rem;
  }
  h1 span {
    font-size: 4rem;
    font-weight: 500;
  }
}

p {
  color: #ABC1E1;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 150%;
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  p {
    font-size: 1.25rem;
    line-height: 150%;
    font-style: italic;
  }
}
@media screen and (min-width: 64rem) {
  p {
    margin-top: 3rem;
  }
}

.category {
  font-size: 1.125rem;
  font-weight: 500;
}
@media screen and (min-width: 48rem) {
  .category {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

#question {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #fff;
  font-style: normal;
  margin: 0.75rem 0 1.5rem;
}
@media screen and (min-width: 48rem) {
  #question {
    font-size: 2.25rem;
    font-weight: 500;
    margin-top: 1.68rem;
  }
}

button {
  font-size: 1.125rem;
  font-weight: 500;
}
@media screen and (min-width: 48rem) {
  button {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

#err-msg {
  font-size: 1.125rem;
}
@media screen and (min-width: 48rem) {
  #err-msg {
    font-size: 1.5rem;
    line-height: 150%;
  }
}

.result-card p {
  font-size: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .result-card p {
    font-size: 1.5rem;
    line-height: 150%;
  }
}

#score {
  font-size: 5.5rem;
  line-height: 100%;
  font-weight: 500;
  color: #fff;
}
@media screen and (min-width: 48rem) {
  #score {
    font-size: 9rem;
  }
}

body:has(#toggle:checked) #question {
  color: #313E51;
}
body:has(#toggle:checked) #score {
  color: #313E51;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .category {
  background-color: transparent;
  padding: 0;
  height: unset;
  margin-bottom: unset;
  text-transform: capitalize;
  display: none;
}

body:has(#toggle:checked) header .category {
  background-color: transparent;
  padding: 0;
  height: unset;
  margin-bottom: unset;
}

#toggle {
  height: 0;
  width: 0;
  position: absolute;
}

.toggle-view {
  display: block;
  width: 2rem;
  height: 1.2rem;
  border-radius: 20px;
  background-color: #A729F5;
  cursor: pointer;
  position: relative;
}
.toggle-view::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 0.17rem;
  right: 0.2rem;
}
@media screen and (min-width: 48rem) {
  .toggle-view::before {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.23rem;
    right: 0.3rem;
  }
}
@media screen and (min-width: 48rem) {
  .toggle-view {
    width: 3rem;
    height: 1.75rem;
  }
}

.toggle-sec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.toggle-sec::after {
  content: url("/assets/images/icon-moon-light.svg");
}
.toggle-sec::before {
  content: url("/assets/images/icon-sun-light.svg");
}
.toggle-sec::after, .toggle-sec::before {
  display: block;
  transform: scale(0.65);
}
.toggle-sec:has(#toggle:focus) .toggle-view {
  outline: 2px solid #A729F5;
  outline-offset: 1.5px;
}
.toggle-sec:has(#toggle:checked) .toggle-view::before {
  right: auto;
  left: 0.2rem;
}
@media screen and (min-width: 48rem) {
  .toggle-sec:has(#toggle:checked) .toggle-view::before {
    left: 0.3rem;
  }
}
.toggle-sec:has(#toggle:checked)::after {
  content: url("/assets/images/icon-moon-dark.svg");
}
.toggle-sec:has(#toggle:checked)::before {
  content: url("/assets/images/icon-sun-dark.svg");
}
@media screen and (min-width: 48rem) {
  .toggle-sec {
    gap: 1rem;
  }
}

.category {
  display: block;
  background-color: #3B4D66;
  width: 100%;
  min-height: 4rem;
  margin-bottom: 0.75rem;
  border-radius: 0.75rem;
  border: none;
  color: #fff;
  padding: 0.75rem 3rem 0.75rem 0.75rem;
  cursor: pointer;
  position: relative;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
  text-align: left;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.category .option {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #F4F6FA;
  color: #626C7F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (min-width: 48rem) {
  .category {
    min-height: 5rem;
    margin-bottom: 1.5rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    border-radius: 1.5rem;
    grid-template-columns: 3.5rem 1fr;
  }
  .category .option {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media screen and (min-width: 64rem) {
  .category {
    min-height: 5.75rem;
    padding: 1.25rem 3.4rem 1.25rem 1.25rem;
  }
}

#html .option {
  background-color: #FFF1E9;
}

#css .option {
  background-color: #E0FDEF;
}

#javascript .option {
  background-color: #EBF0FF;
}

#accessibility .option {
  background-color: #F6E7FF;
}

body:has(#toggle:checked) .category {
  background-color: #fff;
  color: #313E51;
}

input[type=radio] {
  width: 0;
  height: 0;
  position: absolute;
}

.category:has(input:checked),
.category:focus {
  outline: 3px solid #A729F5;
}
.category:has(input:checked) .option,
.category:focus .option {
  background-color: #A729F5;
  color: #fff;
}

.category:has(input:checked).correct-ans-selected {
  outline: 3px solid #26D782;
}
.category:has(input:checked).correct-ans-selected .option {
  background-color: #26D782;
  color: #fff;
}

.correct-ans::after {
  content: url("/assets/images/icon-correct.svg");
  display: block;
  position: absolute;
  right: 0.3rem;
  top: calc(50% - 20px);
}

.category:has(input:checked).wrong-ans-selected {
  outline: 3px solid #EE5454;
}
.category:has(input:checked).wrong-ans-selected .option {
  background-color: #EE5454;
  color: #fff;
}
.category:has(input:checked).wrong-ans-selected::after {
  content: url("/assets/images/icon-incorrect.svg");
  display: block;
  position: absolute;
  right: 0.3rem;
  top: calc(50% - 20px);
}

.primary-btn {
  width: 100%;
  background-color: #A729F5;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 0.75rem;
  height: 3.5rem;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #c16af7;
}
@media screen and (min-width: 48rem) {
  .primary-btn {
    padding: 2rem;
    height: unset;
  }
}

button:focus {
  outline: 3px solid #A729F5;
  outline-offset: 2px;
}

.quiz-screen,
.result-screen {
  display: none;
}

body {
  background-image: url("/assets/images/pattern-background-mobile-dark.svg");
  background-repeat: no-repeat;
  background-color: #313E51;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
body:has(#toggle:checked) {
  background-color: #F4F6FA;
  background-image: url("/assets/images/pattern-background-mobile-light.svg");
  color: #313E51;
}
@media screen and (min-width: 48rem) {
  body {
    background-image: url("/assets/images/pattern-background-tablet-dark.svg");
  }
  body:has(#toggle:checked) {
    background-image: url("/assets/images/pattern-background-tablet-light.svg");
  }
}
@media screen and (min-width: 64rem) {
  body {
    background-image: url("/assets/images/pattern-background-desktop-dark.svg");
    background-position: center;
    background-size: cover;
  }
  body:has(#toggle:checked) {
    background-image: url("/assets/images/pattern-background-desktop-light.svg");
  }
}

header {
  padding: 1rem 1.5rem;
}
@media screen and (min-width: 48rem) {
  header {
    padding: 2rem 5.7rem;
  }
}

main {
  width: 100%;
  padding: 2rem 1.5rem;
}
@media screen and (min-width: 48rem) {
  main {
    padding: 2rem 5.7rem;
  }
}
@media screen and (min-width: 64rem) {
  main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  main > section {
    width: 50%;
    max-width: 35.25rem;
  }
}
@media screen and (min-width: 64rem) and (max-height: 41.5rem) and (orientation: landscape) {
  main > section {
    max-width: 50.4rem;
  }
}

.title-widget {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 48rem) {
  .title-widget {
    margin-bottom: 4rem;
  }
}

.ques-num {
  margin-top: 0;
}

#ques-num {
  margin: 0 0.3rem;
}

.ans-group {
  position: relative;
}

#err-msg {
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
  gap: 0.5rem;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 48rem) {
  #err-msg {
    margin-top: 2rem;
  }
}

.result-screen .category {
  background-color: transparent;
  padding: 0;
  height: unset;
  margin-bottom: unset;
}
.result-screen .result-card {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #3B4D66;
  border-radius: 0.75rem;
  padding: 2rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .result-screen .result-card {
    margin-bottom: 2rem;
    padding: 3rem;
  }
}
.result-screen p {
  font-style: normal;
}
@media screen and (min-width: 48rem) {
  .result-screen p {
    margin-top: 2.5rem;
  }
}
.result-screen #score {
  display: block;
  margin-bottom: 0.45rem;
}
@media screen and (min-width: 64rem) {
  .result-screen {
    width: 50%;
    max-width: 35.25rem;
  }
}
@media screen and (max-height: 41.5rem) and (orientation: landscape) {
  .result-screen {
    max-width: 50.4rem;
  }
}

body:has(#toggle:checked) .result-screen .category {
  background-color: transparent;
  padding: 0;
  height: unset;
  margin-bottom: unset;
}
body:has(#toggle:checked) .result-screen .result-card {
  background-color: #fff;
}

@media screen and (min-width: 48rem) {
  .ques-group {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 64rem) {
  .quiz-screen {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
  }
}
@media screen and (min-width: 90rem) {
  .quiz-screen {
    grid-template-columns: 29rem 35.25rem;
  }
}/*# sourceMappingURL=main.css.map */