label,
legend {
  color: $label-color;
  display: block;
}

input[type="number"] {
  background-color: $input-field-color;
  border-radius: 0.3rem;
  border: 2px solid $input-field-color;
  width: 100%;
  height: 3rem;
  margin-top: 0.4rem;
  padding: 1rem;
  text-align: right;
  color: $higlight-1;
  caret-color: $highlight-2;
  cursor: pointer;

  &::placeholder {
    color: $placeholder-color-2;
  }

  &:focus {
    outline-color: $highlight-2;
  }

  &.error {
    border-color: $error-color;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset {
  border: none;
  margin: 3rem 0;

  .labels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 0.4rem;
  }

  #custom-input {
    margin-top: 0;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}

input[type="radio" i] {
  appearance: none;
}

.input-sec-2 {
  position: relative;
}

#error-msg {
  color: $error-color;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}