@import "./abstract/mixins";
@import "./abstract/variables";
@import "./base/reset";
@import "./base/typography";

body {
  min-height: 100vh;
  @media screen and (min-width: 64rem) {
    background-color: $bg-color;
    @include flex;
    flex-direction: column;
    padding: 2rem 1rem 0;
  }
}

.card {
  background-color: $card-bg;
  border-radius: 2.2rem;
  max-width: 58rem;

  .content {
    padding: 1.5rem 1.2rem 1.2rem;
  }

  picture img {
    width: 100%;
    display: block;
  }

  &:has(.show) {
    max-width: 31.5rem;
  }

  @media screen and (min-width: 64rem) {
    @include flex;
    flex-direction: row-reverse;
    padding: 1.5rem;
    max-height: 40rem;

    .subscription-content {
      padding-left: 2rem;
    }
  }
}

ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 2.1rem;
  position: relative;

  li {
    margin-top: 0.7rem;

    &::before {
      content: "";
      display: block;
      background-image: url("/assets/images/icon-list.svg");
      width: 21px;
      height: 21px;
      position: absolute;
      left: 0;
    }
  }
}

// form
form {
  margin-top: 2rem;
  position: relative;

  input {
    display: block;
    border: $input-field-color solid 1px;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0 1.5rem;
    cursor: pointer;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

// error state
.error {
  color: $error;
  border-color: $error;
  background-color: $error-light;
}

.error-msg {
    // display: none;
    color: $error;
    position: absolute;
    top: 0.37rem;
    right: 0;
}

button {
  background-color: $primary-color;
  color: $card-bg;
  font-weight: 700;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  height: 3.5rem;
  cursor: pointer;

  &:hover {
    background: linear-gradient(#ff6a3a, #ff527b);
  }
}

// .subscription-content,
// picture {
//   display: none;
// }

.hide {
  display: none;
}

.show {
  display: block;
}

.success-content {
  margin-top: 6rem;

  h2 {
    margin: 2rem 0 1.5rem;
  }

  button {
    margin-top: 10rem;
  }

  @media screen and (min-width: 64rem) {
    margin-top: 0;

    button {
      margin-top: 2rem;
    }
  }
}

// footer
footer {
  margin-bottom: 0.8rem;
  p {
    margin: 0 0 0.5rem;
  }

  @media screen and (min-width: 64rem) {
    margin-top: 2rem;
  }

  @media screen and (min-width: 90rem) {
    position: absolute;
    bottom: 0;
  }
}
