* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Robot-Bold";
  src: url("/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
html {
  font-family: "Robot-Regular", sans-serif;
  color: #242742;
  line-height: 150%;
}
@media screen and (min-width: 120rem) {
  html {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: clamp(2.5rem, 3.9vw + 1rem, 3.5rem);
  font-family: "Robot-Bold", sans-serif;
  line-height: 100%;
}

p {
  margin: 1rem 0;
}

form label {
  font-size: 0.8rem;
  font-weight: 700;
}
form input {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

#error-msg {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: normal;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #242742;
}

footer {
  text-align: center;
}
footer p {
  line-height: normal;
  font-size: 0.8rem;
}
@media screen and (min-width: 64rem) {
  footer {
    color: white;
    opacity: 0.5;
    font-weight: 400;
  }
  footer a {
    color: white;
  }
}

body {
  min-height: 100vh;
}
@media screen and (min-width: 64rem) {
  body {
    background-color: #36384D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem 0;
  }
}

.card {
  background-color: white;
  border-radius: 2.2rem;
  max-width: 58rem;
}
.card .content {
  padding: 1.5rem 1.2rem 1.2rem;
}
.card picture img {
  height: 100%;
  display: block;
}
.card:has(.show) {
  max-width: 31.5rem;
}
@media screen and (min-width: 64rem) {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 1.5rem;
    max-height: 40rem;
    gap: 2rem;
  }
  .card .subscription-content {
    padding-left: 2rem;
  }
}

ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 2.1rem;
  position: relative;
}
ul li {
  margin-top: 0.7rem;
}
ul li::before {
  content: "";
  display: block;
  background-image: url("/assets/images/icon-list.svg");
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
}

form {
  margin-top: 2rem;
  position: relative;
}
form input {
  display: block;
  border: rgba(25, 24, 43, 0.25) solid 1px;
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0 1.5rem;
  cursor: pointer;
}
form input:focus {
  outline: none;
}
form:not(:has(.error)):hover {
  border-color: #242742;
  color: #242742;
}
form:not(:has(.error)) input:focus {
  border-color: #242742;
}

.error {
  color: #FF6155;
  border-color: #FF6155;
  background-color: rgba(255, 97, 85, 0.15);
}

#error-msg {
  display: none;
  color: #FF6155;
  position: absolute;
  top: 0.37rem;
  right: 0;
}

.valid-email {
  color: green;
  border-color: green;
}

button {
  background-color: #242742;
  color: white;
  font-weight: 700;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  height: 3.5rem;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(#ff6a3a, #ff527b);
}

.success-content {
  margin-top: 6rem;
  display: none;
}
.success-content h2 {
  margin: 2rem 0 1.5rem;
}
.success-content button {
  margin-top: 10rem;
}
@media screen and (min-width: 64rem) {
  .success-content {
    margin-top: 0;
  }
  .success-content button {
    margin-top: 2rem;
  }
}

.show {
  display: block;
}

footer {
  margin-bottom: 0.8rem;
}
footer p {
  margin: 0 0 0.5rem;
}
@media screen and (min-width: 64rem) {
  footer {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 90rem) {
  footer {
    position: absolute;
    bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */