input[type="radio"] {
  width: 0;
  height: 0;
  position: absolute;
}

.category:has(input:checked),
.category:focus {
  outline: 3px solid $primary-highlight;

  .option {
    background-color: $primary-highlight;
    color: $common-light;
  }
}

// correct answer
.category:has(input:checked).correct-ans-selected {
  outline: 3px solid $success-state;

  .option {
    background-color: $success-state;
    color: $common-light;
  }
}

.correct-ans::after {
  content: url("/assets/images/icon-correct.svg");
  display: block;
  position: absolute;
  right: 0.3rem;
  top: calc(50% - 20px);
}

.category:has(input:checked).wrong-ans-selected {
  outline: 3px solid $error-state;

  .option {
    background-color: $error-state;
    color: $common-light;
  }

  &::after {
    content: url("/assets/images/icon-incorrect.svg");
    display: block;
    position: absolute;
    right: 0.3rem;
    top: calc(50% - 20px);
  }
}